{% extends '../base_with_content.html' %}
{% block content %}
<div class="container">
    <h1>Your dashboard</h1>
    <p>Welcome {{ user.full_name }}, this is your central portal to get you wherever you need to go within the system.</p>
    <hr/>

    <div class="row">
        <!-- Request a lesson -->
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Empty</h5>
              <p class="card-text">Empty</p>
              <a  class="btn btn-primary">Empty</a>
            </div>
          </div>
        </div>
        <!-- Manage existing lesson requests -->
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Empty</h5>
              <p class="card-text">Empty</p>
              <a class="btn btn-primary">Empty</a>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <!-- Manage existing lesson bookings -->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Empty</h5>
            <p class="card-text">Empty</p>
            <a class="btn btn-primary">Empty</a>
          </div>
        </div>
      </div>
  </div>

</div>
{% endblock %}